@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* defines two equal columns */
    grid-gap: 10px;
    /* adds a 10px gap between the columns */
    background: white;
}

.right_wrapper {
 position: fixed;
  bottom: 0;
  right: 0;
  height: 70%;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 58%;
  background: linear-gradient(270deg, #2A3842 2.95%, #2D485B 100%);
  border-top-left-radius: 3rem;
  padding-top: 3rem;
}

.login_content {
    padding-left: 15px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 42.5px;
    line-height: 60px;

    color: #FFFFFF;
}



.text_i_am_a {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    height: 30px;
}

.card {
    background: linear-gradient(270deg, #2A3842 2.95%, #2D485B 100%);
    margin-top: 120px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-left: 120px;
}

.img2 {
    margin-left: 10px;
    margin-top: 30px;
    width: 200px;
    padding-left: 100px;
    padding-top: 25px;
}

.patients_input {
    margin-left: 150px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    color: #FFFFFF;
    display: inline;
    padding-left: 10px;
}

.input_text1 {
    margin-left: 30px;
    height: 40px;
    width: 300px;
    font-size: 18px;
    background: #EDF2F5;
    border-radius: 8.48894px;
}




.google_login_b {
    margin-top: 55px;
    margin-left: 337.5px;
    background-color: #1E90FF;
    font-size: 22px;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 58px;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    width: 230px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.google_login_b:hover{
    background-color: #1c7ee0;
}

.google_p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin-top: 40px;
    font-weight: 400;
    text-align: center;
}

.login_lowerpart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;

}

.img3 {
    width: 280px;
    margin-top: -50px;

}

.login_lower_content {
    margin-top: 70px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

.content_left_wrapper {
    padding-top: 40px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}
