@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.right_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70%;
  padding-bottom: 3rem;
  padding-left: 3rem;
  width: 58%;
  background: linear-gradient(270deg, #2A3842 2.95%, #2D485B 100%);
  border-top-left-radius: 3rem;
  padding-top: 3rem;
}
.img_payment {
  width: 30rem;
  margin-left: 11rem;
  margin-top: 5rem;
  justify-self: center;
  height: auto
}

.payments_content {
  margin-top: 50px;
  margin-left: 250px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;

  color: #FFFFFF;
}

.logout {
  margin-left:650px;
}

.logout_link {
  text-decoration: none;
  padding-left: 10px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  background: #CDAA64;
  border-radius:30px;
  width:90px;
  margin-left:100px;
}

.logout_link:hover{
  background: #a38850;
}


