/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #6e6d6b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #6e6d6b;
    border-radius: 8px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}