@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.herosection {
    background-color: #f1f1f1;
    height: 550px;
}

.img1 img {
    height: 100px;
    width: 400px;
}

.group img {
    position: absolute;
    top: 21%;
    left: 76.4%;
    height: 470px;
}

.content {
    position: absolute;
    top: 32%;
    left: 15%;
}

.content a {
    text-decoration: none;
}

.content1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #6B889D;
}

.content2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    width: 900px;

    color: #2B3F4E;
}

.content3 {
    align-items: flex-start;
    padding: 13px 35px;
    gap: 10px;
    margin-top: 20px;

    background: #CDAA64;
    border-radius: 50px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    border: none;
    width: fit-content;
    color: #000000;
}

@media (min-width:1200px){
    .button {
        position: absolute;
        top: 80%;
        margin-left: 12vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 13%;
    }
    .b2 {
        width: 300px;
        height: 80px;
        background: #2B3E4C;
        border-radius: 6.85px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #FCFEFE;
    }
    
}
@media (max-width:1200px){
    .button {
        position: absolute;
        top: 80%;
        margin-left: 8vw;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 1%;
    }
    .b2{
        display: none;
    }
}

@media (max-width:700px) {
    .button {
        display: none;
    }
    
}


.button img {
    width: 50px;
}

.button a {
    text-decoration: none;
    
}

.b1 {
    width: 300px;
    height: 80px;
    background: #2D485C;
    border-radius: 6.85px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #FCFEFE;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.b3 {
    width: 300px;
    height: 80px;
    background: #29343C;
    border-radius: 6.85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #FCFEFE;
}

.lp1 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: #6B889D;
}

.lp2 {
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 90px;
    text-align: center;

    color: #2B3F4E;
}

.lp3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    margin-top: 20px;

    color: #212124;
}

.landImage {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.landImage img {
    width: 1000px;
}

.lp4 {
    display: flex;
    justify-content: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #6B889D;
    margin-top: 70px;
}

.lp5 {
    display: flex;
    justify-content: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    text-align: center;

    color: #2B3F4E;
}

.lp6 {
    display: flex;
    justify-content: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    color: #000000;

}

.lp7 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    vertical-align: middle;

}

.lp7 ul li {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 250%;
    color: #000000;
    vertical-align: middle;
}

.lp7 ul {
    margin-right: 20px;
}

.lp7 li::marker {
    color: #285F83;
}