@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.herosection {
  position: relative;
  background-color: #f1f1f1;
  height: 75vh;
}

.img1 img {
  height: 20vh;
  width: 30%;
}

.group img {
  display: inline;
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 50vh;
}


.content {
  position: absolute;
  top: 32%;
  left: 15%;
}

.content a {
  text-decoration: none;
  width: 0;
}

.content span {
  font-family: "Work Sans";
  font-weight: 1000;
  font-size: 1.7vw;
  line-height: 35px;
  letter-spacing: 0;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #6b889d;
  ;
}


.content2 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 500;
  font-size: 3.5vw;

  color: #2b3f4e;
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 0.75s ease-in forwards;
}

@keyframes fadeInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content3 {
  align-items: flex-start;
  padding: 0.8vw 1.2vw;
  gap: 10px;
  margin-top: 20px;

  background: #cdaa64;
  border-radius: 50px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 28px;
  border: none;
  width: fit-content;
  color: #000000;
}

.button {
  width: 100%;
  position: absolute;
  bottom: -5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.75s ease-in forwards;
  animation-delay: 0.75s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.b2 {
  width: 25vw;
  height: 12vh;
  background: #2b3e4c;
  border-radius: 6.85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  padding-left: 3px;
  color: #fcfefe;
}

.b1 {
  width: 25vw;
  height: 12vh;
  background: #2d485c;
  border-radius: 6.85px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  padding-left: 3px;
  color: #fcfefe;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.b3 {
  width: 25vw;
  height: 12vh;
  background: #29343c;
  border-radius: 6.85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  padding-left: 3px;
  color: #fcfefe;
}

.button img {
  width: 15%;
}

.button a {
  text-decoration: none;
}

.lp1 {
  margin-top: 15vh;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 1000;
  font-size: 2vw;
  line-height: 30px;

  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;

  color: #6b889d;
}

.lp2 {
  margin-top: 1vh;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2vw;
  line-height: 90px;
  text-align: center;

  color: #2b3f4e;
}

.lp3 {
  text-align: center;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 140%;
  text-align: center;

  color: #212124;
}

.lowerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landImage {
  margin-top: 30px;
}

.landImage img {
  width: 80vw;
}

.lp4 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7vw;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #6b889d;
  margin-top: 50px;
}

.lp5 {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 61px;
  text-align: center;

  color: #2b3f4e;
}

.lp6 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 45px;
  color: #000000;
}

.lp7 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;
  gap: 15vw;
}

.lp7 ul li {
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vw;
  line-height: 250%;
  color: #000000;
  vertical-align: middle;
}

.lp7 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lp7 ul li:before {
  content: "";
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  color: #285f83;
  border-radius: 50%;
  background-color: #285f83;
  text-align: center;
  margin-right: 0.5em;
}

.cardGroups,
.cardGroup,
.card {
  aspect-ratio: 12 / 7;
}

.cardGroups,
.cardGroup,
.bigCard {
  width: 30vw;
}

.cardGroup {
  display: block;
  margin: auto;
  transition: transform 500ms ease;
  margin-bottom: 30px;
  margin-top: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
  box-shadow: 1vw 1vw 1vw 1vw rgba(0, 0, 0, 0.1);

  background-position: center;
  background-size: cover;
}

.bigCard {
  border-radius: 1vw;
}

.bigCard:first-child {
  background-image: url("/D9.webp");
  transform: translateX(-10%) rotate(-1deg);
}

.bigCard:nth-child(2) {
  background-image: url("/D5.webp");
  transform: rotate(2deg);
}

.bigCard:nth-child(3) {
  background-image: url("/D7.webp");
  transform: translateX(-6%) rotate(-3deg);
}

.bigCard:nth-child(4) {
  background-image: url("/D1.webp");
  transform: translate(10%, 3%) rotate(5deg);
}

.animateCard1 {
  box-shadow: -1vw 1vw 1.5vw rgba(0, 0, 0, 0.4);
  transform: translate(-95%, 25%) rotate(-24deg) !important;
}

.animateCard2 {
  box-shadow: -1vw 1vw 1.5vw rgba(0, 0, 0, 0.4);
  transform: translate(-50%, 12%) rotate(-8deg) !important;
}

.animateCard3 {
  box-shadow: -1vw 1vw 1.5vw rgba(0, 0, 0, 0.4);
  transform: translate(50%, 12%) rotate(8deg) !important;
}

.animateCard4 {
  box-shadow: -1vw 1vw 1.5vw rgba(0, 0, 0, 0.4);
  transform: translate(95%, 25%) rotate(24deg) !important;
}

.featuredServices {
  background-color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.featuredServices h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.servicesList {
  display: flex;
  justify-content: center;

}

.service {
  width:25%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  line-height: 1.5;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width:1000px) and (min-width:580px) {
  .herosection {
    height: calc(50vh + 5vw);
  }

  .herosection img {
    height: 50%;
  }

  .content1 {
    font-size: 4vw;
  }

  .content2 {
    font-size: 6vw;
  }

  .content3 {
    font-size: 4vw;
  }

  .content {
    top: 25%;
    left: 5%;
  }

  .button {
    width: 100%;
    position: absolute;
    bottom: -8%;
  }

  .b2,
  .b3,
  .b1 {
    width: 25vw;
    height: 8vh;
    background: #2b3e4c;
    border-radius: 6.85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    padding-left: 10px;
    padding-right: 10px;
    color: #fcfefe;
  }

  .lp1,
  .lp2,
  .lp3,
  .lp4,
  .lp5,
  .lp6,
  .lp7 {
    margin: 0;
  }

  .lp1 {
    margin-top: 50px;
    font-size: 3.5vw;
  }

  .lp2 {
    margin-top:10px;
    line-height: 6vw;
    font-size: 5vw;
  }

  .lp3 {
    margin-top: 10px;
    font-size: 3.5vw;
    width: 75%;
  }

  .lp4 {
    margin-top: 10px;
    font-size: 3vw;
  }

  .lp5 {
    margin-top:2vw;
    margin-bottom: 10px;
    line-height: 2vw;
    font-size: 5vw;
  }

  .lp6 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 4vw;
    width: 75%;
    line-height: 5vw;
    text-align: center;
  }

  .lp7 {
    margin-bottom: 20px;
  }

  .lp7 ul:first-child {
    display: none;
  }

  .lp7 ul li {
    font-size: 4vw;
  }
}



@media (max-width:580px) {
  .herosection {
    height: calc(50vh + 5vw);
  }

  .herosection img {
    height: 50%;
  }

  .content1 {
    font-size: 4vw;
  }

  .content2 {
    font-size: 6vw;
  }

  .content3 {
    font-size: 4vw;
  }

  .content {
    top: 25%;
    left: 5%;
  }

  .button {
    width: 100%;
    position: absolute;
    bottom: -8%;
  }

  .b2,
  .b3,
  .b1 {
    width: 25vw;
    height: 8vh;
    background: #2b3e4c;
    border-radius: 6.85px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 70%;
    padding-left: 10px;
    padding-right: 10px;
    color: #fcfefe;
  }

  .lp1,
  .lp2,
  .lp3,
  .lp4,
  .lp5,
  .lp6,
  .lp7 {
    margin: 0;
  }

  .lp1 {
    margin-top: 50px;
    font-size: 3.5vw;
  }

  .lp2 {
    margin-top: 0px;
    line-height: 38px;
    font-size: 7vw;
  }

  .lp3 {
    margin-top: 10px;
    font-size: 3.5vw;
    width: 75%;
  }

  .lp4 {
    margin-top: 10px;
    font-size: 3vw;
  }

  .lp5 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2vw;
    font-size: 7vw;
  }

  .lp6 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    font-size: 4vw;
    width: 75%;
    line-height: 20px;
    text-align: center;
  }

  .lp7 {
    margin-bottom: 20px;
  }

  .lp7 ul:first-child {
    display: none;
  }

  .lp7 ul li {
    font-size: 4vw;
  }


  .servicesList {
    display: block;
  }
  
  .service {
    width:80%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
  }
  
  .service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .service h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }


}