@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.footer {
  color: #FCFEFE;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  height: 25vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(84.18deg, #2D495D 0.31%, #28333A 100%);
  align-items: center;
}

.footer_1,
.footer_2,
.footer_3 {
  text-align: center;
}

.footer_2 {
  text-align: left;
}

.text_1 {
  color: #FFFFFF;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.text_2 {
  color: #CDAA64;
  position: inherit;
}

.text_3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.text_4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 21px
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.links a {
  font-size: 16px;
  color: white
}


.text_6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.contact_1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: inherit;
}

.address {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.addressSpan {
  position: inherit;
}

@media (max-width:700px) {

  .footer_3,
  .footer_2 {
    display: none;
  }

  .footer_1 {
    display: flex;
    justify-content: center;
  }

  .footer {
    height: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .text_3 {
    display: block;
    position: absolute;
    margin: auto;
    bottom: 10px;
    font-size: 10px;
    font-weight: 500;
  }

  .text_1 {
    margin: 0px;
    font-size: 20px;
  }
}