@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.footer {
  color: #FCFEFE;
  font-family: 'Work Sans';
  font-style: normal;
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  /* top and bottom 20px space */
  /* creates 4 equal columns */
  grid-gap: 2vw;
  /* adds a gap between the columns */
  height: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(84.18deg, #2D495D 0.31%, #28333A 100%);
}

.footer_1,
.footer_2,
.footer_3,
.footer_4 {
  text-align: center;
  margin: auto 0px;
}

.footer_2 {
  text-align: left;
  margin: auto auto;
}

.text_1 {
  color: #FFFFFF;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.text_2 {
  color: #CDAA64;
  position: inherit;
}

.text_3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.text_4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px
}

.text_5 {
  padding-left: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
}

.text_6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.contact_1 {

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: inherit;
}

.address {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.text_7 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.input {
  margin-left: 60px;
  height: 40px;
  width: 200px;
}

.addressSpan {
  position: inherit;
}