@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: Arial, sans-serif;
}

.health_history_form {
    width:90vw;
    margin: 15px auto;
    padding: 0px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.header {
    text-align: center;
    font-family: 'Yeseva One';
    font-style: 'sans-serif';
    font-weight: 400;
    font-size: 40px;
    color: #2B3F4E;
    /* identical to box height */
}


.input_field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:2vw;
    margin-bottom:50px;
    margin-left:30px;
}

.input_field div{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.input_field label{
    color:rgb(0, 0, 0);
}


.input_field_upload{
    display: flex;
    margin-top:30px;
    justify-content: center;
    position: relative;
    column-gap: 20px;
}

.docter_name {
    margin-left:15px;
    margin-top: 5px;
    color: black;
    font-size:1.2rem;
    margin-right:20px;
}

.datediv{
    margin-left:10px;
    margin-top: 5px;
    color: black;
    font-size:1.2rem;
}


.comments{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 70%;
    height: 180px;
    resize: none;
}

.comments div{
    width:50%;
}

.health_input{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
}

.health_input_date{
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
}

.health_input_date::-webkit-calendar-picker-indicator{
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 400px;
}


.health_file {
    margin-bottom: 20px;
    margin-left:5vw;
    display: none;
}

.text_health {
    margin-left: 10px;
    color: black;
    margin-top: 10px;
    font-size:1.15rem;
}


.text_health_upload{
    margin-left: 10px;
    color: black;
    margin-top: 10px;
    font-size:1rem;
}

.upload_file{
    background-color: white;
    border: 1px solid #8b8a8a;
    box-shadow: 2px 2px #ccc;
    width:fit-content;
    padding:0px 10px 0 0;
    border-radius: 30px;
}

.upload_file:hover{
    background-color: rgb(248, 245, 245);
    box-shadow: none;

}

.upload img{
    width:70px;
    margin-left:0vw;
}

.upload span{
    position: relative;
    bottom:16px;
}

.submit_btn{
    display: flex;
    justify-content: center;
    margin-bottom:25px;
}

.submit_button {
    margin-top: 38px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: #CDAA64;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.submit_button:hover {
    background-color: #a38850;
}

.numfiles{
    margin-top:20px;
}




@media (max-width:780px) {
    .input_field{
        display: grid;
        grid-template-columns: 1fr;
        row-gap:2vw;
        margin-bottom:50px;
        margin-left:30px;
    }
    .upload span{
        display: none;
    }
    .upload_file{
        padding:0px 0px 0 0;
    }
}