@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.grid_container {
  display: grid;
  grid-template-columns: 500px 950px;
  background: white;
  margin-left: 20px;
  column-gap: 30px;
}

.left_wrapper {
  height: 510px;
  margin-top: 10px;
  padding-bottom: 69px;
  width: 500px;
  background: #2B3E4C;
  border-radius: 20px;
  padding-top: 15px;
  margin-right: 20px;
}

.right_wrapper {
  height: 500px;
  margin-top: 10px;
  padding-bottom: 69px;
  width: 950px;
  border: 5px solid #CDAA64;
  background: #f1f1f1;
  border-radius: 20px;
  padding-top: 30px;
}

.right_wrapper a {
  text-decoration: none;
}

.doctors_identity {
  margin-left: 10px;
  width: 97.5%;
  height: 150px;
  background: linear-gradient(90deg, #2d485c 0%, #2b3f4d 47.19%, #29343c 100%);
  border: 3px solid #cdaa64;
  border-radius: 20px;
}

.grid_container2 {
  display: grid;
  grid-template-columns: 200px 400px;
}

.img {
  padding: 10px;
  padding-left: 20px;
  height: 130px;
  width: auto;
}

.doctors_identity_content1 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
}

.doctors_identity_content2 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.doctors_identity_content3 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;

  color: #ffffff;
}

.appointment_1 {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.appointment_fee {
  position: absolute;
  left: 85%;
  display: inline;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  color: #000000;
}

.appointment_fee_text {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.89);
  display: inline;
}

.appointment_2 {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.admin_fee {
  display: inline;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  /* identical to box height */
  color: #000000;
  position: absolute;
  left: 85%;
}

.admin_fee_text {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.89);
}

.appointment_3 {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 59vw;
  height: 50px;
  margin-top: 30px;
}

.total_fee {
  display: inline;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #000000;
  position: absolute;
  left: 85%;
}

.total_fee_text {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.89);
  display: inline;
}

.coupon {
  background: #FFFFFF;
  border: 4px solid #000000;
  border-radius: 20px;
  width: 920px;
  height: 60px;
  margin-top: 30px;
  margin-left: 11px;
  display: flex;
  align-items: center;
}

.coupon a {
  text-decoration: none;
}

.pay {
  border-radius: 20px;
  width: 928px;
  height: 60px;
  margin-top: 30px;
  margin-left: 11px;
  background: #2A3A45;
  border-radius: 20px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.enter_coupon {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 43px;
  margin-left: 15px;

  color: #2D485B;
}

.coup {
  color: #000000;
  position: relative;
  top:0px;
}

.enter_coupon{
  position: relative;
  top:5px;
}


.coupon_button {
  background: #CDAA64;
  border-radius: 15px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 43px;
  padding: 2px 60px 2px 60px;
  margin-left: 250px;

  color: #FFFFFF;
}

.t1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  color: #FFFFFF;
}

.docs {
  display: grid;
  grid-template-rows: repeat(5, 60px);
  row-gap: 20px;
  height: 253px;
  margin-left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.docsu {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  row-gap: 20px;
  height: 165px;
  margin-left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.docs img {
  width: 45px;
  height: 45px;
  margin-left: 5px;
}

.doc1 {
  background: #F5DBA7;
  border-radius: 15px;
  width: 470px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16.16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.doc2 {
  background: white;
  border-radius: 15px;
  width: 470px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 16.16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.t2 {
  font-size: 9px;
  margin-left: 10px;
}

.t3 {
  font-size: 12px;
  margin-left: 10px;
}

.date {
  margin-left: 180px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  color: #130F26;
  background: #E8E8E8;
  border: 3.24152px solid #F2F2F2;
  border-radius: 4.0519px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button a {
  text-decoration: none;
}


.b {
  padding: 6px 35px;
  gap: 10px;
  background: #CDAA64;
  border-radius: 50px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  color: #000000;
  width: fit-content;
}