@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* .health_history_form {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.health_history_form {
    width: 70vw;
    margin: 10px auto;
    padding: 0px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 20px;
}

/* .header {
    margin-left: 290px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 74px;
} */

.header {
    text-align: center;
    font-family: 'Yeseva One';
    font-style: 'sans-serif';
    font-weight: 400;
    font-size: 40px;
    color: #2B3F4E;
    /* identical to box height */
}



.docter_name {
    margin-left: 10px;
    margin-bottom: 5px;
    color: black;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.text_health {
    margin-left: 10px;
    color: black;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.health_input,
.comments {
    margin-left: 2px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 98%;
    height: 60px;
    margin-bottom: 10px;
    resize: none;
}

.health_input::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 400px;
}



.health_file {
    display: none;
}


.upload_file {
    background-color: white;
    border: 1px solid #8b8a8a;
    box-shadow: 2px 2px #ccc;
    width: fit-content;
    padding: 0px 10px 0 0;
    border-radius: 30px;
    margin: auto;
}

.upload_file:hover {
    background-color: rgb(248, 245, 245);
    box-shadow: none;

}

.upload img {
    width: 70px;
    margin-left: 0vw;
}

.upload span {
    position: relative;
    bottom: 16px;
}

.submit_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


.submit_button {
    margin-top: 10px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    background: #CDAA64;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.submit_button:hover {
    background-color: #a38850;
}

.numfiles {
    width:200px;
    padding: 0px 0px 0 10px;
    height: fit-content;
    margin:auto;
    margin-top:10px;
    text-align: center;
}